__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/
.venv/
db.sqlite3
db.sqlite3-journal
.env
.secrets
.config
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.log.*
logs/
debug.log
media/
uploads/
assets/images/dynamic/
node_modules/
dist/
build/
*.bak
Thumbs.db
ehthumbs.db
.DS_Store
.AppleDouble
.LSOverride
*~
.nfs*